[submodule "third_party/discord-haskell"]
	path = third_party/discord-haskell
	url = https://github.com/tsoding/discord-haskell
[submodule "third_party/direct-sqlite"]
	path = third_party/direct-sqlite
	url = https://github.com/tsoding/direct-sqlite
[submodule "third_party/HsOpenSSL-x509-system"]
	path = third_party/HsOpenSSL-x509-system
	url = https://github.com/herrhotzenplotz/HsOpenSSL-x509-system
