{
    "twitch": {
        "account": "<twitch-account>",
        "token": "<twitch-oauth-token>",
        "clientId": "<twitch-client-id>"
    },

    "discord": {
        "token": "<discord-token>"
    },

    "github": {
        "token": "<github-token>"
    }
}
